<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Esti pe cale de a intra in lista noastra de oameni de incredere!</p>
    <br/>
    <p>Da click pe linkul de mai jos ca sa fim sigur ca esti un om adevarat:<br/>
      <a href="<%= @url %>"><%= @url %></a>
    </p>
    <br/>
    <p>
      Multumim,<br/>
      Echipa incubator07
    </p>
  </body>
</html>
