<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>This is the request with number <%= @count %> for <%= @workshop.name %> </p>
    <p>
      Just wanted to let you know :D. You can find all the requests in the admin page.
    </p>
  </body>
</html>
