<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Esti inscris la <b><%= @workshop.name %></b> - ai mare grija insa - s-ar putea sa iti descoperi o pasiune, sa gasesti 
      oameni faini si sa nu mai vrei sa pleci! Nu-ti fie teama - cam asa ar trebui sa fie lumea. Invata 
      si da mai departe!</p>
    <br/>
    <p>Si pentru ca stim ca timpul este nebun si, din pacate, pasiunile noastre nu sunt o prioritate, o 
      sa-ti mai trimitem o scrisoare in care sa-ti reamintim sa vii. </p>
    <br/>
    <p>
      Echipa incubator107.
    </p>
  </body>
</html>
