<!DOCTYPE html>
     
<html>
  <head>
    <title> Incubator107: Locul in care oricine poate invata pe oricine orice. Je suis piele toujour en top comme steaua : </title>
  </head> pace pentru fratii 
  <body>
  <h1> All cities</h1>
pace pentru fratii mei iubire totdeauna !!!
  <ul class="users">
    <% @cities.each do |city| %>
      <li>
      <%= city.name %>
      </li>
    <% end %>
  </ul>
</body>
</html>
