@font-face {
    font-family: 'Aracne Condensed Regular';
    src: url(font-path('AracneCondensedRegular.otf')) format('opentype');
}


@font-face {
    font-family: 'Architects Daughter';
    src: url(font-path('ArchitectsDaughter.ttf')) format('truetype');
}

@font-face {
    font-family: 'StRyde';
    src: url(font-path('StRyde-Regular.otf')) format('opentype');
}

.flags img {
  margin: 5px;

}

.flags{
  margin-right: 5px;
}

h3 {

  font-weight: bold;
  color: #a2346c;

}


.cities-badge {
  float: right;
  background: url("other-cities-badge.png") no-repeat center;
  width: 130px;
  height:65px;
  text-align: center;
  line-height: 65px;
  font-weight: bold;
  color: #a2346c;
}

html, body, .container-fluid, .row {
    height: 100%;
}

@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}

.menu-placeholder {
    display:block;
    height:91px;
    width:30px;
}

.newsletter-subscriber > .popover, .popover-title {
  color: #fff;
  background: rgb(163, 52, 108);  
}

input#newsletter_subscriber_email {
  color: rgb(163, 52, 108);  
}

.youtube-wrapper{
    background: url("video-background.png");
    height: 246px;
    width: 420px;    
    padding: 0px;
}

.carousel-control {
  opacity: 1
}


.carousel-right
{
  height: 35px;
  width: 35px;
  margin-top: 500%;
  background: url("carousel-right.png");
}

.carousel-left
{
  height: 35px;
  width: 35px;
  margin-top: 500%;
  background: url("carousel-left.png");
}

iframe.youtube-player{
  margin: 15px;
}

body {
  background: url(background.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
  font-family: "StRyde";
  color: #4d4d4f !important;
} 

p {
  font-family: "StRyde";
  font-size: 14px ;
  line-height: 16px;
}

h4,h3 {
  font-family: "Aracne Condensed Regular";  
  color: #a2346c;
}

h5, {
  font-family: "Aracne Condensed Regular";
  color: #a2346c;
}
hr {  
  border-top: #a2346c;
  color: #a2346c;
}


.collaboration {

  background: url(collaboration.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
 

}

.incubator-button {
  background: url(incubator-button.png) no-repeat ;
  height: 70px !important; 
  width: 220px !important;
  color: white;
}

.incubator-play {
  background: url(incubator-play.png) no-repeat;
  background-position: 20px 10px; 
  padding-left: 70px;
  height: 50px; 
  width: 200px;
  line-height: 60px;
  color: white;
  font-weight: bold;
}

.incubator-download {
  background: url(incubator-download.png) no-repeat;
  background-position: 10px 15px; 
  padding-left: 40px;
  height: 50px; 
  width: 200px;
  line-height: 50px;
  color: white;
  font-weight: 14px;
  font-weight: bold;
}

.incubator-read {
  background: url(incubator-read.png) no-repeat;
  background-position: 10px 15px; 
  padding-left: 50px;
  height: 50px; 
  width: 200px;

  line-height: 50px;
  color: white;
  font-weight: 14px;
  font-weight: bold;
}

.about {
  background: url(about-us.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
 

}

.navbar-header > .nav-pills > li  {
 width: 100px;  

}
.nav-pills > li > a {
  font-family: "Aracne Condensed Regular";
  color: rgb(163, 52, 108) !important;
  text-align: center;
  width: 80px !important
}

a:hover {
 background-color: transparent;
 text-decoration: none;
 font-weight: bold;
}

.nav > li > a:hover, .nav > li > a:focus {
 background-color: transparent;
}

.group >  a {
  font-family: "StRyde";
  font-size: 16px;
  color: rgb(163, 52, 108) !important;
  text-align: center;
  margin: 5px;
}

a:hover {
  color: #a3346c;
}

.group >  a > div {
  margin-top: 10px;
}

.pull-right {
  float: right;

}

div.menu-item{
  width: 53px;
  height: 53px;

  &.about {
    background: url(menu-icons/about.png);
  }

  &.about:hover, &.about.active {
    background: url(menu-icons/selected/about.png);
  }

  &.workshops {
    background: url(menu-icons/workshops.png);
  }

  &.workshops:hover, &.workshops.active {
    background: url(menu-icons/selected/workshops.png);
  }

  &.collaboration {
    background: url(menu-icons/collaboration.png);
  }

  &.collaboration:hover, &.collaboration.active {
    background: url(menu-icons/selected/collaboration.png);
  }

  &.calendar {
    background: url(menu-icons/calendar.png);
  }

  &.calendar:hover, &.calendar.active {
    background: url(menu-icons/selected/calendar.png);
  }

  &.your-place {
    background: url(menu-icons/your-place.png);
  }

  &.your-place:hover, &.your-place.active {
    background: url(menu-icons/selected/your-place.png);
  }

  &.friends {
    background: url(menu-icons/friends.png);
  }

  &.friends:hover, &.friends.active {
    background: url(menu-icons/selected/friends.png);
  }

  &.two-percent {
    background: url(menu-icons/two-percent.png);
  }

  &.two-percent:hover, &.two-percent.active {
    background: url(menu-icons/selected/two-percent.png);
  }

  &.contact {
    background: url(menu-icons/contact.png);
  }

  &.contact:hover, &.contact.active {
    background: url(menu-icons/selected/contact.png);
  }

} 



.menu-about {
  height: 53px;
  width: 53px;
  background: url(menu-icons/about.png);
  &:hover {
    background: url(menu-icons/selected/about.png);
  }

}

img.menu-icon {
  display: block;
  margin: 0 auto;
}

img.group-icon {
  display: block;
  margin: 0 auto;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}


.groups{
 margin-top: 5%;
}

h4.list-group-item-heading {
  font-family: "Aracne Condensed Regular";
  font-size: 35px;
  font-weight: bold;
  color: white !important;
  border-radius: 0;
  margin: 2px !important;

} 

input[type="image"] {
    width: 26px !important; 
    height: 26px !important; 
    padding: 5px !important;
}

.content {

  padding-left: 2%;
}

/* input.gsc-search-button, input.gsc-search-button:hover, input.gsc-search-button:focus { */
div.gsc-control-cse.gsc-control-cse-en {
  background: transparent !important;
  border: transparent !important;
}


li.list-group-item {
  border-top: 0px;
  font-size: 16px;
  font-family: "Aracne Condensed Regular";
  line-height: 1.25;
  background: white;
  text-align: left;
  overflow:hidden;  
  position: relative;
  display: block;
  border: 0px;
  padding:  5px 0;

  &>a{
    color: rgb(163, 52, 108) !important;
  }

  &:nth-child(2){
    margin-top: 15px;
  }

}


.monthly-workshops {
  
  width: 90% ;
  padding: 0px 0px 0px 0px;
  background-color: #fff;
  border: double transparent 1em;
  -o-border-image:url(border-menu.png) 25 25  stretch stretch;
  -icab-border-image:url(border-menu.png) 25 25  stretch stretch;
  -moz-border-image:url(border-menu.png) 25 25  stretch stretch;
  -webkit-border-image:url(border-menu.png) 25 25  stretch stretch;
  border-image:url(border-menu.png) 25 25  stretch stretch;
  -khtml-border-image: url(border-menu.png) 25 25  stretch stretch;
  margin: 0 auto;
}

.monthly-workshops>ul.list-group {
  background-color: #fff;
 }

a.list-group-item {    
  background: #109b97; 
  outline: 12px solid #109b97;  
  background: url(this-month-borders.png) #109b97 center center no-repeat;  
  background-position: center 10px;
  text-align: center; 
  font-color: white;
  border: 0px;
  margin: 0px;
  padding:  5px 0;

  &:first-child {
    border-radius: 0px;
  }  

  &:hover {
    background-color: #109b97;
  }  

}


.flowery-logo { 
  background: url(patterned-logo.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#main-page { 
  background: url(intro-baloon.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.left-clouds { 
  position:absolute;   
  bottom:10%; 
  width: 45%;
  height: 200px;

  margin-left: 2%;

  a:nth-child(2n)>div {
    background: url('cloud-white.gif') no-repeat center center;
  }

  a:nth-child(2n+1)>div {
    background: url('cloud-grey.gif') no-repeat center center;
  }
}

img.center {
 display: block;
 margin: 10% auto;
}

@media (min-width: 992px) {
  .sidebar {
    position: absolute;   
    top: 0;
    left: 0;
    min-height: 100%;
    z-index: 1000;
    display: block;
    background: rgba(242, 196, 17, .7) repeat-y 50% 0;
  }
}


.cloud {
  margin: 0;
  float: left;

  width:115px;
  height:80px;
  line-height: 100px;
  text-align: center;
  vertical-align: middle;
  font-family: "Aracne Condensed Regular";
  font-weight: bold;
  font-size: 20px;
  color: #a3346c;

  &:hover {
    color: #109b97;
  }

}


.right-clouds { 
  position:absolute;   
  bottom:10%; 
  width: 40%;
  height: 200px; 

  a:nth-child(2n)>div {
    background: url('cloud-white.gif') no-repeat center center;
  }

  a:nth-child(2n+1)>div {
    background: url('cloud-grey.gif') no-repeat center center;
  }

  right: 0px;

}

