// Place all the styles related to the subdomain::workshop controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.modal-dialog{
    width: 500px !important;
}

p>a {
  text-decoration: none;
}

a.fancybox-nav:hover {
  background-color:  transparent  
}

.workshop-list  .popover, .popover-title {
  color: #a3346c;
  background: #fff;  
  font-size: 12px;
  line-height:  14px;
}



div.center-cropped {
    width: 80px;
    height: 80px;
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
}

.bottom-bullets {

  margin-top: 5%;
  margin-left: 10%;
  &  img {
    margin: 5px !important;
  }
}

h4 {
  font-weight: bold;
  color: #a2346c;
}

h5, {
  color: #a2346c;
}
hr {
  border-top: #a2346c;
  color: #a2346c;
}

h4.workshop-section {

  font-weight: bold;
  color: #a2346c;

}

h3.workshop-section {
  font-weight: bold;
  color: #a2346c;
}

thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  border-radius: 0;
  border: none;
  background-color: none;
}

.carousel-control {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15%;
  opacity: .5;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: none;
}


.well-none .carousel-inner {
  margin-left: 3%;
  width: auto;
}

.carousel-control.left {
  background-image: none;
}
.carousel-control.right {
  left: auto;
  right: 0;
  background-image: none;
}

.carousel-control {
  padding-top: 4%;
  width:2%;
}

a.carousel-control:hover {
   background-color:  transparent 
}

a.fancybox {
  background-color: transparent; 
}

a.fancybox-close:hover {
   background-color:  transparent 
}

.modal span {
	font-weight: bold;
}

.modal-content {
  background: rgb(163, 52, 108);
  color: #fff;
  & input, textarea {
    color: rgb(163, 52, 108);
  }

  & .btn-primary {
    background-color: #109b97;
    border: #109b97;
    margin-left: 200px !important;
  }

    & .btn-default {
    background-color: rgb(242, 196, 17);
    border: rgb(242, 196, 17);
    margin-left: 10px;
  }
}

.modal-footer {
  text-align: center;
}

.error_message {
  color: red !important ;
} 


/* ----- SimpleForm Styles ----- */

.simple_form div.input {
  margin-bottom: 10px;
  clear: both; /* Required for Webkit, but not for Gecko */
}

.workshop-list {
  margin-top: 5%;

}

.workshop-list>li {
  list-style-type:none;
  padding-left: 25px;
  height: 20px;
  font-size: 14px;
  line-height: 18px;




  &:hover { 
    padding-left: 25px;

    background: url('bullet-mic.png') no-repeat left center;
    line-height: 20px; /* Might have to play with this value a bit */
    
  }
  
  &>a:hover {
    color: rgb(163, 52, 108) !important;

  }
  &>a:visited { 
    color: #009a96;
  }

}


.simple_form label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 2px 10px;
}

label.checkbox {
  width: 300px; 
  text-align: center;
}

div.boolean {
  margin-left: 120px;
}



div.boolean label, label.collection_radio_buttons {
  float: none;
  margin: 0;
}

label.collection_radio_buttons {
  margin-right: 10px;
  vertical-align: -2px;
  margin-left: 2px;
}

.simple_form .error {
  clear: left;
  color: red;
  display: block;
  margin-left: 120px;
  font-weight: normal;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  color: #555;
  display: block;
  font-style: italic;
}

input.radio {
  margin-right: 5px;
  vertical-align: -3px;
}

input.check_boxes {
  margin-left: 3px;
  vertical-align: -3px;
}

label.collection_check_boxes {
  float: none;
  margin: 0;
  vertical-align: -2px;
  margin-left: 2px;
}
