.main > img {
    float: right;    
    padding: 5px;
}

.article-main {
  margin-left: 3%;
  margin-right: 2%;
}

.right-float {
    float: right;     
    margin: 5%;
}

.your_place p{
  font-size: 14px;
}

.main .title{
  font-size: 140%;
}

