<div class="container">

        <div class="masthead">
          <h3 class="muted">Incubator10e</h3>
          <div class="navbar">
            <div class="navbar-inner">
              <div class="container">
                <ul class="nav" >
                  <li><a href="<%=yield(:about_link)%>">Cine suntem</a></li>
                  <li><a href="#">Ateliere</a></li>
                  <li><a href="#">Calendar</a></li>
                  <li><a href="#">Locul tau</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </div>
            </div>
          </div><!-- /.navbar -->
        </div>
      
      </div>
