<h5><%=t(:this_month) %></h5>
<ul class="nav nav-list">
  <% @this_month_workshops.each do |id, name| %>
    <li> <%= link_to name, workshop_path(id)%> </li>
  <% end %>
</ul>
<% if (@next_month_workshops.count > 0 ) %>
  <h5><%=t(:next_month) %></h5>
  <ul class="nav nav-list">
    <% @next_month_workshops.each do |id, name| %>
      <li> <%= link_to name, workshop_path(id)%> </li>
    <% end %>
  </ul>
<% end %>

