
<ul class="nav nav-list">
 	<li class="nav-header"><%=t(:workshops) +" " + t(:this_month) %></li>
 		<% @city.workshops.published.this_month.each do |workshop| %>
 			<%=render workshop %>
 		<% end %>
</ul>
<% if @city.workshops.published.next_month %>
<ul class="nav nav-list">	
	<li class="nav-header"><%=t(:next_month) %></li>
 		<% @city.workshops.published.next_month.each do |workshop| %>
			<%=render workshop %>
		<% end %>
	</ul>
<% end %>